<div id="<%= dom_id offer %>">
  <p>
    <strong>Code:</strong>
    <%= offer.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= offer.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offer.description %>
  </p>

</div>
